- model = form.object
.form-inputs
  = form.input :name, :placeholder => "Product"
  = form.input :description
.form-actions
  = form.submit :class => "btn btn-primary"
  = link_to "Cancel", admin_doc_models_path(model.doc), :class => "btn"