%h1= "New Operation in #{@api.path}"
= simple_form_for @operation, :url => admin_doc_api_operations_path(@doc, @api), :html => { :class => 'form-horizontal' } do |f|
  = render :partial => 'form', :object => f