.form-inline
  - if form_error_response.object.new_record?
    = form_error_response.link_to_remove :class => "btn btn-mini" do
      %i.icon-minus
      Delete
  - else
    %label
      = form_error_response.check_box :_destroy
      Delete
  = form_error_response.input_field :code, :placeholder => "error code", :class => "input-small"
  = form_error_response.input_field :reason, :placeholder => "error reason"